
* {
  margin:0;
  padding:0;
  border:0;
}
h3 {
  font-weight: normal;
}
@font-face {
  font-family: 'title font';
  src: url('/fonts/华康龙门石碑W9\(P\).TTF');
}

#selected {
    background-color: #aaa;
  }
  
 /* #main-menu {
     /* border:solid red 1px; */
     /* padding:10px;
     width: 500px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     position: sticky;
     bottom: 0px; */
    /* } */ */

img{
    position: absolute;
    max-width: 100%;
    left: 0;
    z-index: -4;
}

#slogan {
    font-family: 'Microsoft YaHei';
    position: relative;
    font-weight: normal;
    color: white;
    font-size: 500%;
    width: 45%;
    height: 40%;
    margin-left: 10%;
    margin-top: 15%;
    float: left;
}

.container {
  margin-right: 2%;
}

  
li {
    float: right;
    list-style-type: none;
    font-size: 150%;
    font-family: 'Microsoft YaHei';
  }
  
  li a {
    display: block;
    color: rgb(119, 119, 119);
    text-align: center;
    padding: 34px 8px;
    text-decoration: none;
    font-weight:bold;
    transition: all .2s ease-in-out;
  }
  li a:hover {
    background-color: rgb(70, 70, 70);
    color: rgb(255, 255, 255);
    transition: all .2s ease-in-out;
  }
  #title{
    position: absolute;
    font-family: 'title font';
    font-size: 50px;
    margin-left: 2.5%;
    margin-top: 0.5%;
    color: rgb(119, 119, 119);
    padding: 8px 16px;

}  

